   <!-- Sección de profesor   -->
   <ion-content >
    <ion-card class="custom-card2">
        <ion-card-header>
            <h1  >RegistrAPP</h1>
        </ion-card-header>
      </ion-card> 
      <ion-card class="ion-padding custom-card clase-del-icono-de-hora ">
        <form [formGroup]="form" class="ion-padding">
          <ion-item>
            <ion-label>Nombre de la Clase</ion-label>
            <ion-input formControlName="nombreClase"  placeholder="Escribe un nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nombre de la Clase</ion-label>
            <ion-input formControlName="fechaClase"  placeholder="Escribe el dia"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Hora de Inicio</ion-label>
            <ion-input formControlName="horaInicio" type="time" ></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-label>Hora de Termino</ion-label>
            <ion-input  formControlName="horaTermino" type="time"></ion-input>
          </ion-item>
          <ion-button (click)="agregarClase()" expand="block">Agregar Clase</ion-button>
        </form>
      </ion-card>

      <ion-card class="ion-padding custom-card">
        <ion-list *ngIf="clases && clases.length > 0">
          <ion-item *ngFor="let clase of clases">
            <ion-label>{{ clase.nombre }}</ion-label>
            <ion-note slot="end">{{ clase.horaInicio }} - {{ clase.horaTermino }} | {{ clase.fechaClase }}</ion-note>
          </ion-item>
        </ion-list>
        <ion-text *ngIf="!clases || clases.length === 0" class="ion-text-center">No hay clases disponibles.</ion-text>
      </ion-card>
      

<ion-card class="ion-padding custom-card">
  <ion-list *ngIf="clases && clases.length > 0">
    
      <ion-button (click)="generarCodigoQR()" expand="block">Generar Código QR</ion-button>
      <ion-img [src]="qrCodeImageUrl" *ngIf="qrCodeImageUrl"></ion-img>
      <ion-card class="ion-padding custom-card">
        <p *ngIf="qrCodeLink">Enlace QR: {{ qrCodeImageUrl }}</p>
      </ion-card>
  </ion-list>
  <ion-text *ngIf="!clases || clases.length === 0" class="ion-text-center">No hay clases disponibles.</ion-text>
</ion-card>



</ion-content>