   <!-- Sección de alumno   -->
<ion-content >
  <ion-card class="custom-card2">
      <ion-card-header>
          <h1  >RegistrAPP</h1>
      </ion-card-header>
    </ion-card> 
    

    <ion-card class="ion-padding custom-card">
      <ion-list *ngIf="clases && clases.length > 0">
        <ion-item *ngFor="let clase of clases">
          <ion-label>{{ clase.nombre }}</ion-label>
          <ion-note slot="end">{{ clase.horaInicio }} - {{ clase.horaTermino }} | {{ clase.fechaClase }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-text *ngIf="!clases || clases.length === 0" class="ion-text-center">No hay clases disponibles.</ion-text>
    </ion-card>
    <ion-button expand="full" (click)="scanQR()">Escanear QR</ion-button>

    
 
     

      
</ion-content>