   <!-- Sección de alumno   -->
<ion-content >
  <ion-card class="custom-card2">
      <ion-card-header>
          <h1  >RegistrAPP</h1>
      </ion-card-header>
    </ion-card> 
    

    <ion-card class="ion-padding custom-card">
      <ion-list *ngIf="clases && clases.length > 0">
        <ion-item *ngFor="let clase of clases">
          <ion-label>{{ clase.nombre }}</ion-label>
          <ion-note slot="end">{{ clase.horaInicio }} - {{ clase.horaTermino }} | {{ clase.fechaClase }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-text *ngIf="!clases || clases.length === 0" class="ion-text-center">No hay clases disponibles.</ion-text>
    </ion-card>
    
    
 
     

      <!-- Sección de Horarios de Clases alumno -->
      <ion-card *ngIf="" class="custom-card">
        <ion-card-header>
          Horarios de Clases para Alumnos
          <div>horaios mas la asistencia </div>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
 

      <!-- Sección de Horarios de Clases profesor -->
      <ion-card *ngIf="" class="custom-card">
        <ion-card-header>
          Horarios de Clases para Profesores
          <div>horario profesor mas assietncia de los estudiantes </div>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="" class="ion-padding custom-card">
        <ion-card-header>
          
          <div>chaooo</div>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
</ion-content>