<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/auth"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content >

  <app-header></app-header>
  <app-logo></app-logo>

  <ion-title class="ion-text-center ion-no-margin">Recuperar Contraseña</ion-title>

  <div class="content">
    <div class="d-flex-center"> 
    <form  (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-button class="ion-margin-vertical" expand="full" type="submit"  shape="round">Enviar Correo de Recuperación</ion-button>
      <ion-button  class="ion-margin-vertical"expand="full" routerLink="/auth"  shape="round">Regresar</ion-button>

    </form>
  </div>
  </div>
</ion-content>